.container1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;

  .left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 11rem;
    height: 7rem;
    background-color: #242424;
    gap: 0.5rem;

    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
    }

    h2 {
      font-size: 16px;
    }
  }
}

.container2 {
  color: white;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 6rem;

  .right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 11rem;
    height: 7rem;
    background-color: #242424;
    gap: 0.5rem;

    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
    }

    h2 {
      font-size: 16px;
    }
  }
}
